@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@300&display=swap'); 

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #008080;
}

/* headings & logo */
h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #008080;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;


}

/*navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #008080;
}

#menu a:hover {
    border-bottom: 1px solid #008080;
}

.active {
    border-bottom: 1px solid #008080;
}

/* hero image & cover text*/
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/new\ hero\ image.jpg') no-repeat center center;

}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 130%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #008080;
    opacity: 0.8;

    bottom: 30px;
    right: 150px;

    position: absolute;
}


/* reasons to be a hero */

#reasons {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    
}